.modal-content {
    width: 850px;
}

.linha-add-produto {
    display: flex;
}

.linha-add-produto .campo label {
    color: white;
}

.linha-add-produto .campo input {
    width: 75px;
}

#produto_id {
    width: 160px;
}

#descricao {
    width: 230px;
}

#quantidade {
    width: 50px;
}

#valor_unitario {
    width: 50px;
}

#total-item {
    width: 100px;
}

#btn-adicionar-item {
    width: 90px;
    margin-top: 20px;
    padding: 3px;
    margin-bottom: 3px;
}

#tabela-item-venda {
    overflow: scroll;
}

#tabela-item-venda {
    text-align: center;
}

/* DADOS DA VENDA */
.form-campos-venda {
    display: flex;    
    color: #fff;
}

.form-campos-venda-1 label, .form-campos-venda-2 label {
    width: 100px;
    margin-top: 5px;
    text-align: right;
}

.form-campos-venda-1 input,  .form-campos-venda-1 select,
.form-campos-venda-2 input,  .form-campos-venda-2 select {
    width: 170px;
} 

.form-campos-venda-2 label {
    width: 160px;
}

.linha {
    color: #fff;
}

#datavenda, #totalvenda, #descricao, #precounitario, #total-item, #codigo,
#datavenda-item, #totalvenda-item, #descricao-item, #precounitario-item,
#total-item-item, #codigo-item {
    color: #fff;
    padding-left: 8px;
}

#condpagto_id, 
#vendedor_id,
#cliente_id,
#condpagto_id-item, 
#vendedor_id-item,
#cliente_id-item,
#produto_id-item
{
    padding-left: 8px;
}

#produto_id, #quantidade {
    padding-left: 10px;
}

.campo-consulta input {
    color: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    text-align: right;
}